<div class="flex-1 flex bg-indigo-50 items-center justify-center">
  <div
    class="bg-gray-50 p-14 rounded-lg shadow-lg flex flex-col justify-center"
  >
    <div class="flex justify-center">
      <img
        class="p-4 h-20"
        src="https://pramodpallath.com/assets/pramod-pallath-logo.png"
      />
    </div>
    <p>Welcome to the Angular Application</p>

    <div class="grid justify-items-end">
    <button class="bg-pv-blue-light p-2 flex-none rounded-md text-gray-50 text-bold">Enter</button>    
    </div>
  </div>
</div>
